*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


/* ELEMENTI LAYOUT */

main{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

/* INIZIO SIDEBAR */

.sidebar{
    width: 250px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.playlist, .bottom-sidebar, .logo{
    padding: 0 10px;
}
/* TOP SIDEBAR */
.logo{
    width: 100%;
}

#logo-spotify{
    width: 100px;
    padding: 10px 0;
}

#spotify-small{
    display: none;
}

.main-menu ul li {
    padding: 3px 10px;
}

.home{
    width: 20px;
    vertical-align: middle;
}

.menu-list{
    height: 30vh;
    overflow-y: auto;
}

.link-nav{
    color: white;
    opacity: 0.7;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
}

.main-menu ul li:first-child {
    border-left: 2px solid greenyellow;
}

li{
    list-style-type: none;
    padding: 5px 0;
}


.large-icon{
    font-size: 20px;
    padding: 10px;
    background-color: #aeaeae;
    color: black;
}

h4{
    padding: 25px 0;
}

#playlist{
    padding: 0 0 10px 5px;
    font-size: 16px;
}

.li-space{
    padding: 5px 0;
}

#plus-space-first-li{
    padding-top: 20px;
}
/* FINE TOP SIDEBAR */



/* BOTTOM SIDEBAR */
.buttom-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding: 0 40px;
}

.installa-app .mod-link, .user{
    display: flex;
    align-items: center;
}

.installa-app{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.installa-app .mod-link{
    font-size: 13px;
}

.installa-app img{
    width: 15px;
    margin-right: 10px;
}

.avatar{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: grey;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}

.name{
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.mod-link{
    text-decoration: none;
    color: #aeaeae;
}

.user{
    padding: 10px 0;
}

/* FINE BOTTOM SIDEBAR */

/* FINE SIDEBAR */

/* MAIN */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}
/* TOP BAR */
.top-bar{
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    padding-top: 10px;
}

.upgrade {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
/* FINE TOP BAR */

/* CONTENT MAIN */
.content{
    width: 100%;
    padding-top: 80px;
    text-align: center;
}

.content li{
    display: inline-block;
    margin: 10px;
}

.content a{
    padding-bottom: 5px;
    text-decoration: none;
    color: #aeaeae;
}

#hr-greenyellow{
    color: greenyellow;
    margin-left: 30px;
}

a hr{
    width: 30%;
    color: transparent;
}

/* FINE CONTENT MAIN */

/* MAIN CONTENT */
 
.row-song{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
}

.col-16-song{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.col-100-song{
    width: 100%;
}

.dimension{
    width: 100%;
}

.text-album{
    text-align: center;
}

.text-album span, .col-100-song span{
    font-size: 12px;
    color: #aeaeae;
}

.img-radious{
    border-radius: 50%;
}
/* FINE MAIN */


/* FINE MAIN */

/* FOOTER */

.bottom-bar{
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

/* SECTION PLAYER */

#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.player-album, .player-audio {
  width: 230px;
  height: 100%;
  padding: 10px;
}

.player-album {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-album-cover {
    width: 20%;
}

.player-album-cover img {
    width: 100%;
}

.album-title {
    width: 50%;
    padding-left: 10px;
}

.album-title h2 {
    font-size: 12px;
    line-height: 12px;
}

.album-title h2 a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.album-title p {
    font-size: 10px;
}

.album-title p a{
    text-decoration: none;
    color: #aeaeae;
}

.player-icons i{
    margin-left: 10px;
    color: #aeaeae;
}

/* FINE SECTION PLAYER */

/* SECTION CONTROLLER */
.player-controller {
    width: 40%;
    height: 100%;
}

.player-controller-icons {
    height: 60%;
}

.player-controller-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.player-controller-icons i{
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.player-controller-play-ico i{
    width: 50px;
    font-size: 30px;
    text-align: center;
}

.menu-list-bottom {
    list-style: none;
    font-size: 13px;
    line-height: 35px;
    color: #aeaeae;
}

.controller-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.time-min {
    width: 10%;
    margin: 0 10px;
    font-size: 10px;
    text-align: center;
    color: #fff;
}

.player-bar {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.controller {
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
}

.controller.perc-20 {
    width: 20%;
}


/* SECTION CONTROLLER */

/* AUDIO */
.player-audio ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.audio-volume {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* FINE AUDIO */

/* FINE FOOTER */

/* HOVER PAGINA */
a:hover{
    color: #fff;
}
/* FINE HOVER PAGINA */

/* INIZIO QUERY */

/* DESKTOP */
@media screen and (max-width: 1024px) {
    .col-16-song{
        width: calc(100% / 4 - 20px);
        flex-wrap: wrap;
    }
}
/* FINE DESKTOP */

/* TABLET */
@media screen and (max-width: 768px) {
    .col-16-song{
        width: calc(100% / 2 - 20px);
        flex-wrap: wrap;
    }
}
/* FINE TABLET */

/* PHONE */
@media screen and (max-width: 600px) {
    .sidebar{
        width: 50px;
        padding-left: 5px;
    }

    #logo-spotify{
        display: none;
    }

    #spotify-small{
        display: block;
        width: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .main-menu ul li:first-child {
        border: none;
    }

    .top-bar{
        width: calc(100% - 50px);
    }

    .main-content{
        width: calc(100% - 50px);
    }

    .top-sidebar a{
        display: none;
    }
    .playlist{
        display: none;
    }

    .installa-app img{
        margin-right: 0;
    }

    .mod-link span{
        display: none;
    }

    .user h2{
        display: none;
    }

    .user{
        all: unset;
    }

    .installa-app{
        border: none;
    }

}
/* FINE PHONE */

/* FINE QUERY */